html, body {
  height: 100%;
}

body {
  background: url(img/background.jpg);
  background-size: cover;
}

.form-login {
  background: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  padding: 20px;
  margin: auto;
}